/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap');

$primary-color: Black;
$secondary-color: FloralWhite;
$highlight-color: FireBrick;

// Custom globals
body {
    font-family: 'Red Hat Display', sans-serif;
    color: $primary-color;
    background-color: $secondary-color;
    height: 100%;
}

a {
    color: $highlight-color;
    font-weight: bold;
}

.form-heading {
    text-align: center;
}

.full-height {
    height: 100vh;
}

.test {
    flex-grow: 1;
}