<section>
    <h2>Mon album photo</h2>
    <p>Charger un album</p>
    <form name="albumLoginForm" method="post" (submit)="sendLogin()">
        <label for="albumName">Nom :</label>
        <input [(ngModel)]="albumName" id=albumName type=text name=albumName size=12 required>
        <label for=albumPassword>Mot de passe :</label>
        <input [(ngModel)]="albumPassword" id=albumPassword type="password" name=albumPassword size=12 required>
        <input type="submit" value="Load album content">
    </form>
</section>
<section>
    <a [routerLink]="['/userLogin']">
        Se connecter
    </a>
</section>


