<main class="container-fluid">
    <div class="d-flex flex-column justify-content-center h-100" *ngIf="loggedIn">
        <div class="mx-5 mt-3">
            <h1 class="text-center">{{ name }}</h1>
            <app-slideshow [albumName]=name></app-slideshow>
            <section class="mt-3 px-2">
                <h2>Description</h2>
                <p>{{ description }}</p>
            </section>
        </div>
    </div>
    <p *ngIf="!loggedIn">Problème d'authentification. Vérifiez votre login et votre mot de passe.</p>
</main>