.modal-large {
    max-width: 100%;

    @media (min-width: 768px) {
        padding-left: 1em;
        padding-right: 1em;
    }

    @media (min-width: 1024px) {
        max-width: 75vw;
    }
}

.edit-album-header {
    display: inline-block;
}

.text-ellipsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.head-row {
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}

.flex-grow-1 {
    flex-grow: 1;
}

img.cover {
    object-fit: cover;
}

.progress {
    @media (min-width: 576px) {
        height: 100%;
    }
}