
<h1>Éditer l'album {{albumName}}</h1>
<p>{{albumDescription}}</p>
<section>
    <h2>Ajouter une photo</h2>
    <input type="hidden" name="albumName" value="albumName">
    <input type="file" ng2FileSelect [uploader]="uploader" multiple>

    <div *ngIf="uploader.queue.length > 0">
        <h2>File d'ajout</h2>
        <p>Nombre de photos : {{ uploader?.queue?.length }}</p>

        <table>
            <thead>
                <tr>
                    <th width="50%">Nom</th>
                    <th>Taille</th>
                    <th>Progression</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div style="margin-bottom: 0;">
                            <div role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="item.isSuccess">Success</span>
                        <span *ngIf="item.isCancel">Cancelled</span>
                        <span *ngIf="item.isError">Error</span>
                    </td>
                    <td nowrap>
                        <button type="button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span>Ajouter</span>
                        </button>
                        <button type="button" (click)="item.cancel()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span>Annuler</span>
                        </button>
                        <button type="button" (click)="item.remove()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span>Supprimer</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Progression totale:
                <div>
                    <div role="progressbar" [ngStyle]="{'width': uploader.progress + '%'}"></div>
                </div>
            </div>
            <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                Tout ajouter
            </button>
            <button type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                Tout annuler
            </button>
            <button type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                Tout supprimer 
            </button>
        </div>
    </div>


</section>
<section>
    <h2>Photos actuelles</h2>
    <div *ngFor="let photo of photosList">
        <img [src]=photo width="500px">
        <button (click)="deletePhoto(photo)">Supprimer</button>
    </div>
</section>
