
<h1>Éditer l'album {{albumName}}</h1>
<p>{{albumDescription}}</p>
<section>
    <h2>Ajouter une photo</h2>
    <input type="hidden" name="albumName" value="albumName">
    <input type="file" ng2FileSelect [uploader]="uploader">
    <button type="button"
        (click)="proceedUpload()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload all
    </button>
</section>
<section>
    <h2>Photos actuelles</h2>
    <div *ngFor="let photo of photosList">
        <img [src]=photo width="500px">
        <button (click)="deletePhoto(photo)">Supprimer</button>
    </div>
</section>
